# -------------------------
# Python cache / bytecode
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual environment
# -------------------------
project_venv/
venv/
.env/
.venv/

# -------------------------
# OS / Editor files
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------
# Jupyter / notebooks
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# NLTK downloaded data
# -------------------------
nltk_data/

# -------------------------
# Temporary files
# -------------------------
*.tmp
*.bak
*.swp

